{% extends "layaut.html" %}

{% block content %}
<form action="/garajes_vehiculo/add" method="post">
    <label for="garaje">Selecciona un garaje:</label>
    <select id="garaje" name="idGarajeFk">
        {% for g in garajes %}
            <option value="{{ g.idGaraje }}">{{ g.description}}</option>
        {% endfor %}
    </select><br><br>

    <label for="vehiculo">Vehiculos disponibles:</label>
    <select id="vehiculo" name="idVehiculoFk">
        {% for v in vehiculos %}
            <option value="{{ v.idVehiculo }}" >{{ v.matricula}}</option>
        {% endfor %}
    </select><br><br>

    <input type="submit" value="Guardar cambios">
</form>

{% endblock %}
