{% extends "layaut.html" %}

{% block content %}

<header>
    <div class="container header-container">
        <div class="header-left">
            <h3>Lista de Garajes</h3>

            <div class="itemcontainer border-bottom">
    

                
                <table class="table table-striped table-bordered">
                    <thead class="table-bordered">
                        <tr>
                            <th>Id</th>
                            <th>Description</th>
                            <th>Contidad vehiculo</th>
                            <th>Limite de vehiculos</th>
                            <th>Eliminar</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dato in datos %}
                            <tr>
                                <td>{{ dato.idGaraje }}</td>
                                <td>{{dato.description}}</td>
                                <td>{{dato.cantidad}}</td>
                                <td>{{dato.Cantidad_Examen}}</td>
                                <td><a href="/deletegarajes/{{dato.idGaraje}}">Eliminar</a></td>
                                <td><a href="/editgarajes/{{dato.idGaraje}}">Editar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
               </div>
            
               <div class="btncontainer mt-3 p-2 align-items-center">
                <a href="/"><button class="btn btn-primary">Volver</button></a>
                <a href="/garajes/add"><button id="addgaraje" class="btn btn-primary">Agregar garaje</button></a>

                <a href="/garajes_vehiculo/add"><button id="addgaraje_vehiculo" class="btn btn-primary">Agregar vehiculo</button></a>
                </div>
            </div>





        </div>
        <div class="header-right">
            <div class="sq-box">
                <img src="/static/image/car.png" alt="">
            </div>
        </div>
    </div>
    <div class="sq-box2"></div>




</header>

{% endblock %}
