{% extends "layaut.html" %}

{% block content %}

<header>
    <div class="container header-container">
        
        <div class="header-left">
            <h1>Sistema de Estacionamiento.</h1>
            <h3>Operaciones</h3>
            
            <p>
                Bienvenido al sistema de estacionamiento. Aquí podrás gestionar espacios, registrar vehículos y emitir tickets. ¡Gracias por tu servicio!
            </p>
            <a href="/vehiculo" class="btn btn-primary">Vehículo</a>
            <a href="/marca" class="btn btn-primary">Marca</a>
            <a href="/modelo" class="btn btn-primary">Modelo</a>
            <a href="/registro" class="btn btn-primary">Registro</a>
            <a href="/garajes" class="btn btn-primary">Garajes</a>


        </div>
        <div class="header-right">
            <div class="sq-box">
                <img src="/static/image/Rayo_McQueen.png" alt="">
            </div>
        </div>
    </div>
    <div class="sq-box2"></div>
</header>


{% endblock %}

