{% extends "layaut.html" %}

{% block content %}

<header>
    <div class="container header-container">
        <div class="header-left">
            <h1>Sistema de Estacionamiento.</h1>
            <h3>Operaciones</h3>
            <p>
                Bienvenido al sistema de estacionamiento. Aquí podrás gestionar espacios, registrar vehículos y emitir tickets. ¡Gracias por tu servicio!

            </p>
            <a href="/vehiculo" class="btn">Vehículo</a>
            <a href="/marca" class="btn">Marca</a>
            <a href="/modelo" class="btn">Modelo</a>
            <a href="/registro" class="btn">Registro</a>

        </div>
        <div class="header-right">
            <div class="sq-box">
                <img src="/static/image/car.png" alt="">
            </div>
        </div>
    </div>
    <div class="sq-box2"></div>
</header>


{% endblock %}

