<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/static/image/ico.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Reg̃uahẽ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav>
        <div class="container nav-container">
            <a href="" class="logo"><h3>Reg̃uahẽ.</h3></a>
            <ul class="nav-link">
                <li><a href="/" style="--i:1;" class="active">Inicio</a></li>
                <li><a href="/vehiculo" style="--i:2;">Vehículo</a></li>
                <li><a href="/marca" style="--i:3;">Marca</a></li>
                <li><a href="/modelo" style="--i:4;">Modelo</a></li>
                <li><a href="/registro" style="--i:5;">Registro</a></li>
                <li></li>
                <li></li>
            </ul>
            <!-- <ul class="social-link">
                <li><a href="" style="--i:1;"><i class="fab fa-facebook"></i></a></li>
                <li><a href="" style="--i:2;"><i class="fab fa-twitter"></i></a></li>
                <li><a href="" style="--i:3;"><i class="fab fa-instagram"></i></a></li>
            </ul> -->
        </div>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>
