{% extends "layaut.html" %}
{% block script%}
<script>
     $(document).ready(function(){
        $(".btn").click(function(){
            let id = $(this).data('id');
            console.log(id);
            $.get("obtener/"+id, function(data, status){
                console.log(data)
                $(".card-text").text(data.Detalles);
            });
        });
    });
</script>

{% endblock %}

{% block content %}
<div class="itemcontainer border-bottom">
    
    
    <h2>Lista de modelos</h2>
    
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Dato</th>
                <th>Detalle</th>
                <th>Combox</th>
                <th>Eliminar</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos %}
                <tr>
                    <td>{{ dato.Id }}</td>
                    <td>{{dato.Dato}}</td>
                    <td>{{dato.Detalle}}</td>
                    <td>{{dato.ValordelCombo}}</td>
                    <td><a href="/borrar/{{dato.Id}}">Eliminar</a></td>
                    <td><button class="btn-success btn"  data-id="{{dato.Id}}">Detalles</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="card" style="width: 30vw;">
       <div class="card-body">
            <h5 class="card-title">Detalles</h5>
            <p class="card-text"></p>
        </div>
        <img src="{{foto}}" class="card-img-top-"  alt="Imagen de la carta">
        
    </div>
    
   </div>
   <div class="btncontainer mt-3 p-2 align-items-center">
    <a href="/"><button class="btn btn-primary">Volver</button></a>
    <a href="/cargar"><button class="btn btn-success">+</button></a>
</div>
{% endblock %}
