{% extends "layaut.html" %}

{% block content %}
<header>
    <div class="container header-container">
        <div class="header-left">
            <h3>Lista de modelos</h3>

            <div class="itemcontainer border-bottom">
                <ul class="list-group">
                    {% for modelo in modelos %}
                        <li class="list-group-item">{{ modelo.descModelo }} </li>
                    {% endfor %}
                </ul>
               </div>
               <div class="btncontainer mt-3 p-2 align-items-center">
                <a href="/"><button class="btn btn-primary">Volver</button></a>
                <a href="/modelo/add"><button class="btn btn-success">+</button></a>
            </div>


        </div>
        <div class="header-right">
            <div class="sq-box">
                <img src="/static/image/car.png" alt="">
            </div>
        </div>
    </div>
    <div class="sq-box2"></div>



</header>
{% endblock %}
