{% extends "layaut.html" %}

{% block content %}
<header>
    <div class="container header-container">
        <div class="header-left">
            <h3>Agregar Modelo</h3>

            <div class="fromPaises">
                <form action="/modelo" method="post">
                    <div>
                       <label for="nombre_modelo">Modelo:</label>
                    <input type="text" name="nombre_modelo" id="nombre_modelo" required> 
                    </div>
                    <div>
                        <label for="marca">Selecciona una marca:</label>
                        <select name="marca" id="marca" >
                            {% for marca in marcas %}
                                <option value="{{ marca.idMarca}}">{{ marca.descMarca }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
            
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
            
            </div>


        </div>
        <div class="header-right">
            <div class="sq-box">
                <img src="/static/image/car.png" alt="">
            </div>
        </div>
    </div>
    <div class="sq-box2"></div>







</header>
{% endblock %}
