{% extends "layaut.html" %}

{% block content %}
<header>
    <div class="container header-container">
        <div class="header-left">
            <h3>Registro</h3>
            
            <div class="formRegistro">
                <p id="contador">Dia: 0</p>
                <p id="cantidad">Cantidad: 0</p>
                <p id="limite">Limite: 0</p>
                <label for="fecha_registro">Fecha:</label>
                <input type="date" id="fecha_registro" required>  
            </div>
            <div>
                <label for="matricula">Matricula:</label>
                <select id="matricula" name="matricula" >
                    <option value="">Selecciona una matrícula</option>
                </select><br><br>
            </div>
            <a href="/IngresosDia"><button class="btn btn-primary">Lista de ingresos por dia</button></a>
            <button type="submit" class="btn btn-primary">Agregar</button>
            <div class="itemcontainer border-bottom">
                <h2>Detalle ingresos</h2>
                <table id="vehiclesTable" class="table table-striped table-bordered">
                    <thead class="table-bordered">
                        <tr>
                            <th>Matricula</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    
                </table>
                
            </div>

               <div class="btncontainer mt-3 p-2 align-items-center">
                <a href="/" class="btn btn-primary">Volver</a>
            </div>


        </div>
        <div class="header-right">
            <div class="sq-box">
                <img src="/static/image/car.png" alt="">
            </div>
        </div>
    </div>
    <div class="sq-box2"></div>

</header>

<script>
    const getselect=()=>{
        $.get("/getselect",function(data, status){
            const select = $("#matricula");
            select.html(`
                <option value="">Selecciona una matrícula</option>
                ${data.map(vehicle => `
                    <option value="${vehicle.idVehiculo}">${vehicle.matricula}</option>
                `).join('')}
            `);
        });
    }
    const getDatosActividad = (fecha)=>{
        $.get("/datos_activity/"+fecha,function(data, status){
            console.log(data)
            $("#contador").text('Dia: '+data.idIngreso);
            $("#cantidad").text('Cantidad: '+data.cantidad);
            $("#limite").text('Limite: '+data.limite);
            getselect();
            getVehiculos(data.idIngreso);
        });
    }
    const getDatosActividadforid = (id)=>{
        $.get("/datos_activityforid/"+id,function(data, status){
            $("#contador").text('Dia: '+data.idIngreso);
            $("#cantidad").text('Cantidad: '+data.cantidad);
            $("#limite").text('Limite: '+data.limite);
            getselect();
            getVehiculos(data.idIngreso);
        });
    }
    const getVehiculos =(id)=>{
        $.get(`/registroget/${id}`, function(data, status){
            const table = $("#vehiclesTable");
            getselect();
            const dia= data[0]?data[0].idIngresoFk:'0'
            table.html(`
                <tr>
                    <th>Matricula</th>
                    <th>Eliminar</th>
                </tr>
                ${data.map(vehicle => `
                    <tr>
                        <td>${vehicle.matricula}</td>
                        <td ><button class="btn-danger"  onclick="deleteRegistro(${vehicle.idVehiculo})">Eliminar</button></td>
                    </tr>
                `).join('')}
            `);
        });
    }
    const deleteRegistro=(id)=>{
        $.get(`/deleteregistro/${id}`, function(data, status){

            getDatosActividadforid(data.dia)
        });
    }
    $(document).ready(function(){
        getselect();
        $('#fecha_registro').change(function() {
            const fecha = $("#fecha_registro").val();
            getDatosActividad(fecha)
        });
       $(".btn").click(function(){
           const fecha = $("#fecha_registro").val();
           const matricula = $("#matricula").val();
           console.log( fecha , matricula);
           $.post("/activity",{fecha:fecha,matricula:matricula}, function(data, status){
               if(!(data.msg == 'Ya esta registrado')){
                    $("#contador").text('Dia: '+data.dia);
                    $("#cantidad").text('Cantidad: '+data.cantidad);
                    getVehiculos(data.dia);
                }else{
                    getVehiculos(data.dia);
                }
               
           });
       });
   });
</script>

{% endblock %}
