{% extends "layaut.html" %}

{% block content %}

<header>
    <div class="container header-container">
        <div class="header-left">
            <h3>Lista decvcv Vehiculos</h3>

            <div class="itemcontainer border-bottom">
    

                
                <table class="table table-striped table-bordered">
                    <thead class="table-bordered">
                        <tr>
                            <th>Id</th>
                            <th>Matricula</th>
                            <th>Tipo</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dato in vehiculos %}
                            <tr>
                                <td>{{dato.idVehiculo }}</td>
                                <td>{{dato.matricula}}</td>
                                <td>{{dato.Tipo_examen}}</td>
                                <td><a href="/editvehiculo/{{dato.idVehiculo}}">Editar</a></td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
               </div>
            
               <div class="btncontainer mt-3 p-2 align-items-center">
                <a href="/"><button class="btn btn-primary">Volver</button></a>
                <a href="/vehiculo/add"><button class="btn btn-primary">+</button></a>
                </div>
            </div>





        </div>
        <div class="header-right">
            <div class="sq-box">
                <img src="/static/image/car.png" alt="">
            </div>
        </div>
    </div>
    <div class="sq-box2"></div>




</header>

{% endblock %}
