{% extends "layaut.html" %}

{% block content %}

<header>
    <div class="container header-container">
        <div class="header-left">
            <h3>Agregar Vehiculo </h3>

            <form action="/vehiculo" method="post">
                <label for="matricula">Matricula:</label>
                <input type="text" id="matricula" name="matricula"><br><br>
            
                <label for="brand">Selecciones una marca:</label>
                <select id="brand" name="idMarcaFk">
                    <option value="0">No seleccionado</option>
                    {% for b in marcas %}
                        <option value="{{ b.idMarca }}">{{ b.descMarca }}</option>
                    {% endfor %}
                </select><br><br>
            
                <label for="model">Seleccione un modelo:</label>
                <select id="model" name="idModeloFk">
                    <option value="">--Select a brand first--</option>
                </select><br><br>
                    <button type="submit" class="btn btn-primary">Agregar</button>
            </form>


        </div>
        <div class="header-right">
            <div class="sq-box">
                <img src="/static/image/car.png" alt="">
            </div>
        </div>
    </div>
    <div class="sq-box2"></div>

</header>
<script>
    document.getElementById('brand').addEventListener('change', async function() {
        const models = await fetch('/get_models/' + this.value);
        const jsonModels = await models.json();
        const select = document.getElementById('model');
        select.innerHTML = '';
        for (let m of jsonModels) {
            let option = document.createElement('option');
            option.value = m.idModelo;
            option.text = m.descModelo;
            select.appendChild(option);
        }
    });
  
</script>
{% endblock %}
